.App {
  display: flex;
}

.left {
  display: flex;
  justify-content: center;
  width: 50%;
  background: #fcf3ca;
}

.fixed {
  position: fixed;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.logo {
  width: 150px;
  height: 150px;
  border: 3px solid #ef7b7b;
  margin: 30px auto;
  background: #c4eada;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  -moz-transform: scale(1) rotate(-45deg) translateX(0px) translateY(0px)
    skewX(1deg) skewY(1deg);
  -webkit-transform: scale(1) rotate(-45deg) translateX(0px) translateY(0px)
    skewX(1deg) skewY(1deg);
  -o-transform: scale(1) rotate(-45deg) translateX(0px) translateY(0px)
    skewX(1deg) skewY(1deg);
  -ms-transform: scale(1) rotate(-45deg) translateX(0px) translateY(0px)
    skewX(1deg) skewY(1deg);
  transform: scale(1) rotate(-45deg) translateX(0px) translateY(0px) skewX(1deg)
    skewY(1deg);
}

.logo h1 {
  font-family: 'Lobster', cursive;
  font-size: 2.5rem;
  color: #37427f;
  text-align: center;
  -moz-transform: scale(1) rotate(40deg) translateX(0px) translateY(0px)
    skewX(1deg) skewY(1deg);
  -webkit-transform: scale(1) rotate(40deg) translateX(0px) translateY(0px)
    skewX(1deg) skewY(1deg);
  -o-transform: scale(1) rotate(40deg) translateX(0px) translateY(0px)
    skewX(1deg) skewY(1deg);
  -ms-transform: scale(1) rotate(40deg) translateX(0px) translateY(0px)
    skewX(1deg) skewY(1deg);
  transform: scale(1) rotate(40deg) translateX(0px) translateY(0px) skewX(1deg)
    skewY(1deg);
}


.right {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  width: 50%;
  background: #919190;
}


@media only screen and (max-width: 700px) {
  .App {
    flex-direction: column;
  }

  .left {
    width: 100%;
    padding-bottom: 20px;
  }

  .fixed {
    position: static;
  }

  .right {
    width: 100%;
  }
}
