.App {
  background: #fcf3ca;
}

.left {
  display: flex;
  justify-content: center;
  padding: 4rem 0 2rem 0;
}

.fixed {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  width: 150px;
  height: 150px;
  border: 3px solid #ef7b7b;
  border-radius: 50% 0 50% 50%;
  background: #c4eada;
  -moz-transform: scale(1) rotate(-45deg) translateX(0px) translateY(0px)
    skewX(1deg) skewY(1deg);
  -webkit-transform: scale(1) rotate(-45deg) translateX(0px) translateY(0px)
    skewX(1deg) skewY(1deg);
  -o-transform: scale(1) rotate(-45deg) translateX(0px) translateY(0px)
    skewX(1deg) skewY(1deg);
  -ms-transform: scale(1) rotate(-45deg) translateX(0px) translateY(0px)
    skewX(1deg) skewY(1deg);
  transform: scale(1) rotate(-45deg) translateX(0px) translateY(0px) skewX(1deg)
    skewY(1deg);
}

.logo h1 {
  font-family: 'Lobster', cursive;
  font-size: 2.5rem;
  color: #37427f;
  text-align: center;
  -moz-transform: scale(1) rotate(40deg) translateX(0px) translateY(0px)
    skewX(1deg) skewY(1deg);
  -webkit-transform: scale(1) rotate(40deg) translateX(0px) translateY(0px)
    skewX(1deg) skewY(1deg);
  -o-transform: scale(1) rotate(40deg) translateX(0px) translateY(0px)
    skewX(1deg) skewY(1deg);
  -ms-transform: scale(1) rotate(40deg) translateX(0px) translateY(0px)
    skewX(1deg) skewY(1deg);
  transform: scale(1) rotate(40deg) translateX(0px) translateY(0px) skewX(1deg)
    skewY(1deg);
}

.right {
  background: #919190;
}

@media only screen and (min-width: 700px) {
  .App {
    display: flex;
  }

  .left {
    align-items: center;
    width: 50%;
    height: 100vh;
  }

  .fixed {
    position: fixed;
  }

  .right {
    width: 50%;
  }
}
